body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

header, footer, section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header {
  min-height: 100px;
  background-color: lightblue;
}

main {
  flex-grow: 1;
  display: flex;
  background-color: lightgrey;
}

section {
    flex: 1;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section:nth-child(1) {
  background-color: yellow;
}

section:nth-child(2) {
  background-color: red;
}

section:nth-child(3) {
  background-color: green;
}

footer {
    min-height: 50px;
    background-color: lightpink;
}
